server {
	listen 127.0.0.1:8081               localhost:8080   ; 
	listen 8082;
	listen 8083 8085;
	server_name server1 server2;
	#root  ; #data/www/   #data/www
	root  data/www/ ; 
	index index.html ;

	error_page		400 400.html;
	error_page		404 404.html;
	error_page		405 405.html;
	methods 		GET     POST    DELETE;

	location /data {
		#root 	data/www; #data/www/  	#data/www/index.html
		#index 	index.html; 		#data/www/index.html
	}

	location /autre {	# autre used just for url 
		#root 	data/www; #data/www/  	#data/www/index.html
		#index index.html;
	}
	
	location /php {
		#root /two/folder;
		#index some.html;
		return 301 $scheme://www.new-name.com;
	}
}

