server {
	listen 127.0.0.1:8081               localhost:8080   ; 
	listen 8082;

	error_page		400 400.html;
	error_page		404 404.html;
	error_page		405 405.html;
	methods 		POST;

	location /{
		listen test2:5654;
	}

}

server {
	listen 127.0.0.1:8081; 
	listen  8082;

	error_page		400 400.html;
	error_page		404 404.html;
	error_page		405 405.html;
	methods 		POST;

	location /{
		listen test2:5654;
	}

}
