server {
	listen 127.0.0.1:8081               localhost:8080   ; 
	listen 8082;
	listen 8083 8085;
	server_name server1 server2;
	root  /var/temp/;

	error_page		400 400.html;
	error_page		404 404.html;
	error_page		405 405.html;
	methods 		GET     POST    DELETE;

	location /data {
		index /www/index.html;
	}


	location /root {
		#index index.html;

	}

	location /php {
		root /two/folder ;
		#index some.html;
		return 301 $scheme://www.new-name.com;
	}
}

server {
	listen 127.0.0.1:8084; 
	listen  8085;
	#listen  8086;

	server_name    server1 ;
	
	#root  /tmp/road;

	error_page		502 502.html;
	error_page		401 401.html;
	error_page		301 301.html;

	methods 		POST;

	location / {
		root /two/folder ;
		listen test2:5654;
	}
}
